@font-face {
  font-family: Thin;
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: Light;
  src: url('../fonts/Roboto-Light.ttf');
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #DCD0C0 !important;
  color: #373737 !important;
  height: 100%;
  width: 100%;
}

.bg-box {
  background-color: #f4f4f4 !important;
}

.bg-bg {
  background-color: #DCD0C0 !important;
}

.bg-font {
  background-color: #333A56 !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Wide Screens */
@media screen and (min-width: 800px) {
  .main-width {
    width: 70% !important;
    margin-left: 15%;
  }
  .main-margin-bottom {
    margin-bottom: 5%;
  }
  h1 {
    font-size: 2.5rem !important;
  }
}

/* Narrow Screens */
@media screen and (max-width: 400px) {
  .main-width {
    width: 90% !important;
    margin-left: 5%;
  }
  .main-margin-bottom {
    margin-bottom: 15%;
  }
  h1 {
    font-size: 2rem !important;
  }
}