extends layout

block content
  include title.pug
  div.container.text-center.main-margin-bottom
    div.main-width(style='margin-bottom: 5%;')
      div.form-group.text-left
        label 
          b Question
        input(type='text' class='form-control' placeholder='Is the sky blue?' id='q')
      div.form-group.text-left
        label
          b Description 
        input(type='text' class='form-control' placeholder='Now that the ashes have settled...' id='d')
      div#options
    a(href='javascript:;' onclick='addOption()')
      b ADD OPTION&nbsp;
    span &nbsp;|&nbsp;
    a(href='javascript:;' onclick='publishPoll()')
      b &nbsp;PUBLISH
  script(src='/javascripts/poll-create.js')