extends layout

block content
  div.container.text-center.main-margin-bottom
    div.main-width.main-margin-bottom(style='padding: 10px;')
      div.form-group.text-left
        input(type='text' class='form-control' placeholder='Question text' id='q')
      div.form-group.text-left
        input(type='text' class='form-control' placeholder='Description' id='d')
      div#options
    a#addOption(href='javascript:;')
      b ADD OPTION&nbsp;
    span &nbsp;|&nbsp;
    a#publish(href='javascript:;')
      b &nbsp;PUBLISH
  script(src='/javascripts/poll-create.js')