footer.page-footer.font-small.blue
  div.footer-copyright.text-center.py-3 
    a(href='/') Home&nbsp;
    span &nbsp;|&nbsp;
    a(href='/create') &nbsp;Create Poll&nbsp;
    span &nbsp;|&nbsp;
    a(href='https://github.com/sunjohanday/polling-app' target='_blank') &nbsp;Github