doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel='icon' type='image/jpg' href='https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Armi_Kuusela-1.jpg/250px-Armi_Kuusela-1.jpg')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(defer src='/javascripts/jquery.min.js')
    script(defer src='/javascripts/popper.min.js')
    script(defer src='/javascripts/bootstrap.min.js')
  body
    div.bg-box.main-container
      include title.pug
      block content
      include footer.pug
