extends layout

block content
  include title.pug
  div.container.text-center(style='margin-bottom: 5%;')
    div.list-group(style='margin-bottom: 5%;')
      each o, i in options
        h2.text-left(style='width: 60%; margin-left: 20%;')
          a.list-group-item.list-group-item-action(href='javascript:;' onclick=`selectOption(this, ${i})`)= o.label
    a(href='javascript:;' onclick='submitAnswer()')
      b SUBMIT
  script(defer src='/javascripts/js.cookie.js')
  script(defer src='/javascripts/poll-answer.js')
  