div.container
  table.table.table-bordered.poll-table
    thead.thead-light
      tr
        th Popular polls right now
    tbody
      each q in polls.length ? polls : [{number: '-', question: 'There are no polls...'}]
        tr
          td(style='width: 80%;')
            div(style='display: inline-block; width: 80%; overflow: auto;')
              a(href='/poll/'+q.number)
                b= q.question
            div(style='display: inline-block; width: 20%; text-align: right;'
              title=q.answerCount+' people have answered to this poll')
              i.material-icons group
              span(style='vertical-align: top;') &nbsp;#{q.answerCount}